.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    background-color: #FFFCF3;

    @media (min-width: 680px) {
        padding-left: 64px;
        padding-right: 64px;
    }

    @media (min-width: 1200px) {
        padding-top: 64px;
        padding-left: 128px;
        padding-right: 128px;
    }
    @media (min-width: 1800px) {
        padding-left: 328px;
        padding-right: 328px;
    }
}

svg {
    cursor: pointer;
}



.menu {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #FFFCF3;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 998;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation {
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 45px;

    @media (min-width: 680px) {
        font-weight: 700;
        font-size: 96px;
    }

    div {
        margin: 8px;
        border: 4px solid black;
        position: relative;

        @media (min-width: 680px) {
            margin: 16px;
        }

        &:hover {
            &:before {
                top: -0.3em;
                bottom: 0px;
                left: -0.3em;
                right: -0.3em;
            }

            &:after {
                right: 300px;
                left: -0.3em;
                top: -0.3em;
                bottom: -0.3em;
                animation: moving-border 15s;
            }
        }

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            background-color: #FFFCF3;
        }

        &:before {
            top: -0.3em;
            bottom: -0.3em;
            left: 0.3em;
            right: -0.3em;
        }

        &:after {
            left: -0.3em;
            right: 0em;
            top: -0.3em;
            bottom: 20px;
        }

    }

    // you need this to move the text in front of the ::after overlay
    a {
        padding: 8px;
        position: relative;
        z-index: 4;



    }

}

.bg-color {
    background-color: black;
}

.rect {
    margin-bottom: -23px;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    padding-bottom: 16px;
}

.margin32 {
    margin-right: 32px;
}


.navigation2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    animation: moving-nav 0.5s forwards;

    p {
        margin-left: 32px;
        margin-top: 0px;
        margin-bottom: 16px;
        font-family: 'Syne';
        font-weight: 800;
        font-size: 45px;
        color: #FFFCF3;
        animation: color-change 3s infinite;
        background-color: black;

        @media (min-width: 680px) {
            font-weight: 800;
            font-size: 78px;
        }

    }

    @keyframes color-change {
        50% {
            color: #FF9900;
        }

        100% {
            color: #FFFCF3;
        }
    }

    a {
        font-size: 23px;
        position: relative;
        z-index: 2;
        color: #FFFCF3;
        margin-left: 32px;
    }
}

@keyframes moving-nav {
    0% {
        bottom: -200px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes moving-border {

    10% {
        right: 100px;
    }

    100% {
        right: 100px;
    }
}

.movedNavOut {
    animation: moving-nav2 0.5s forwards;

}

@keyframes moving-nav2 {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: -200px;
    }
}

.preload {
    width: 0px;
    height: 0px;
    opacity: 0;
}

.close-menu {
    cursor: pointer;
}