.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    background-color: #FFFCF3;
}

svg {
    cursor: pointer;
}

.menu {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #FFFCF3;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 45px;

    div {
        margin: 8px;
        border: 4px solid black;
        position: relative;

        &:hover {
            &:before {
                top: -0.3em;
                bottom: 0px;
                left: -0.3em;
                right: -0.3em;
            }

            &:after {
                right: 300px;
                left: -0.3em;
                top: -0.3em;
                bottom: -0.3em;
                animation: moving-border 15s;
            }
        }

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            background-color: #FFFCF3;
        }

        &:before {
            top: -0.3em;
            bottom: -0.3em;
            left: 0.3em;
            right: -0.3em;
        }

        &:after {
            left: -0.3em;
            right: 0em;
            top: -0.3em;
            bottom: 20px;
        }

    }

    // you need this to move the text in front of the ::after overlay
    a {
        padding: 8px;
        position: relative;
        z-index: 4;



    }

}

.inclined-line {
    margin-bottom: -170px;
    margin-top: 180px;
    width: 110%;
    height: 300px;
    transform: rotate(5deg);
    background-color: black;
}


.navigation2 {
    padding-bottom: 32px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;

    p {
        margin-left: 32px;
        margin-top: 0px;
        margin-bottom: 16px;
        font-family: 'Syne';
        font-weight: 800;
        font-size: 45px;
        color: #FFFCF3;
        animation: color-change 3s infinite;
    }

    @keyframes color-change {
        50% {
            color: #FF9900;
        }

        100% {
            color: #FFFCF3;
        }
    }

    a {
        position: relative;
        z-index: 2;
        color: #FFFCF3;
        margin-left: 32px;
    }
}

@keyframes moving-border {

    10% {
        right: 100px;
    }

    100% {
        right: 100px;
    }
}