
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    background-color: #FFFCF3;

    @media (max-height: 780px) {
        padding-bottom: 0px;
        padding-top: 8px;
    }

    @media (min-width: 680px) {
        padding-left: 64px;
        padding-right: 64px;
    }

    @media (min-width: 1200px) {
        padding-top: 64px;
        padding-left: 128px;
        padding-right: 128px;
    }

    @media (min-width: 1800px) {
        padding-left: 328px;
        padding-right: 328px;
    }
}

svg {
    cursor: pointer;
}


.menu-btn {
    height: 38px;
    width: 44px;
    background-size: contain;
    background-color: transparent;
    background-image: url('/assets/img/burgermenu.svg');
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;

}

.menu-btn-rev {
    height: 38px;
    width: 44px;
    background-size: contain;
    background-color: transparent;
    background-image: url('/assets/img/x.svg');
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;

}

.animateMenu {
    animation: animate 0.25s ease-in-out forwards;
}

.animateMenuRev {
    animation: animateRev 0.25s ease-in-out forwards;
}

@keyframes animate {
    0% {
        background-image: url('/assets/img/burgermenu.svg');
    }

    25% {
        background-image: url('/assets/img/transition1.svg');
    }

    50% {
        background-image: url('/assets/img/transition2.svg');
    }

    75% {
        background-image: url('/assets/img/transition3.svg');
    }

    100% {
        background-image: url('/assets/img/x.svg');
    }
}

@keyframes animateRev {
    0% {
        background-image: url('/assets/img/x.svg');
    }

    25% {
        background-image: url('/assets/img/transition3.svg');
    }

    50% {
        background-image: url('/assets/img/transition2.svg');
    }

    75% {
        background-image: url('/assets/img/transition1.svg');
    }

    100% {
        background-image: url('/assets/img/burgermenu.svg');
    }
}



.menu {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #FFFCF3;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 998;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @media (max-height: 780px) {
        top: 66px;
    }
}

.navigation {
    margin-top: -320px;
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 45px;

    @media (max-height: 780px) {
        margin-top: -270px;
    }

    @media (min-width: 680px) {
        font-weight: 700;
        font-size: 96px;
    }

    @media (max-height: 780px) {
        font-size: 56px;
    }

    div {
        margin: 8px;
        border: 4px solid black;
        position: relative;

        @media (min-width: 680px) {
            margin: 16px;
        }

        &:hover {
            &:before {
                top: -0.3em;
                bottom: 0px;
                left: -0.3em;
                right: -0.3em;
            }

            &:after {
                right: 300px;
                left: -0.3em;
                top: -0.3em;
                bottom: -0.3em;
                animation: moving-border 15s;
            }
        }

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            background-color: #FFFCF3;
        }

        &:before {
            top: -0.3em;
            bottom: -0.3em;
            left: 0.3em;
            right: -0.3em;
        }

        &:after {
            left: -0.3em;
            right: 0em;
            top: -0.3em;
            bottom: 20px;
        }

    }

    // you need this to move the text in front of the ::after overlay
    a {
        padding: 8px;
        position: relative;
        z-index: 4;



    }

}

.bg-color {
    background-color: black;
}

.rect {
    margin-bottom: -23px;

    @media (max-height: 780px) {
        margin-bottom: -60px;
    }
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    padding-bottom: 16px;

    @media (max-height: 780px) {
        margin-top: 4px;
        padding-bottom: 4px;
    }
}

.margin32 {
    margin-right: 32px;
}


.navigation2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    animation: moving-nav 0.5s forwards;

    p {
        margin-left: 32px;
        margin-top: 0px;
        margin-bottom: 16px;
        font-family: 'Syne';
        font-weight: 800;
        font-size: 45px;
        color: #FFFCF3;
        animation: color-change 3s infinite;
        background-color: black;

        @media (min-width: 680px) {
            font-weight: 800;
            font-size: 78px;
        }
        @media (max-height: 780px) {
            font-size: 56px;
            margin-bottom: 4px;
        }

    }

    @keyframes color-change {
        50% {
            color: #FF9900;
        }

        100% {
            color: #FFFCF3;
        }
    }

    a {
        font-size: 23px;
        position: relative;
        z-index: 2;
        color: #FFFCF3;
        margin-left: 32px;
    }
}

@keyframes moving-nav {
    0% {
        bottom: -200px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes moving-border {

    10% {
        right: 100px;
    }

    100% {
        right: 100px;
    }
}

.movedNavOut {
    animation: moving-nav2 0.5s forwards;

}

@keyframes moving-nav2 {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: -200px;
    }
}

.preload {
    width: 0px;
    height: 0px;
    opacity: 0;
}

.close-menu {
    cursor: pointer;
}

.margin-left {
    @media (min-width: 680px) {
        margin-left: 64px;
    }

    @media (min-width: 1200px) {
        margin-left: 128px;
    }

    @media (min-width: 1800px) {
        margin-left: 328px;
    }
}

.margin-right {
    @media (min-width: 680px) {
        margin-right: 64px;
    }

    @media (min-width: 1200px) {
        margin-right: 128px;
    }

    @media (min-width: 1800px) {
        margin-right: 328px;
    }
}

.scale {
    svg {
        transition: all 175ms ease-in-out;
        cursor: pointer;

        &:hover {
            transform: translateY(-10px);
            transition: all 175ms ease-in-out;
        }

        @media (min-width: 980px) {
            width: 40px;
            height: 40px;
        }
    }
}

.logo-container {
    width: 70px;
    height: 50px;
    object-fit: contain;

    img {
        width: 100%;
    }
}