.footer-section {
    background-color: black;
    color: #FFFCF3;
    text-align: center;
    padding-bottom: 50px;
}

a {
    color: #FFFCF3;

}

p {
    margin: 16px;

    @media (min-width: 980px) {
        margin-bottom: 0;
        padding-bottom: 8px;
    }
}

svg {
    margin: 16px;

}

.links {
    svg {
        @media (min-width: 980px) {
            width: 40px;
            height: 40px;
        }
    }
}

.icons {


    @media (min-width: 980px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-left: 64px;
        margin-right: 64px;
    }

    @media (min-width: 1200px) {
        margin-left: 128px;
        margin-right: 128px;
    }

    @media (min-width: 1800px) {
        margin-left: 328px;
        margin-right: 328px;
    }

    >div>a>svg {
        transition: all 175ms ease-in-out;
        cursor: pointer;

        &:hover {
            transform: translateY(-10px);
            transition: all 175ms ease-in-out;
        }
    }
}

.flex-end {
  //  margin-left: 80vw;
 //   position: relative;

    a {
        @media (min-width: 980px) {
            font-size: 23px;
        }
    }

    @media (max-width: 980px) {
        margin-left: auto;
        font-size: 23px;
    }
/*
    &:hover {
        &:before {

            top: 1.1em;
            bottom: 0px;
            left: -0.3em;
            right: 70px;
        }
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        background-color: black
    }
*/
    @media (min-width: 980px) {

        a {
            margin-right: 16px;
            margin-left: 16px;


            &:hover {
              color: rgba(255, 153, 0, 1);

            }
        }

        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: -40px;
        margin-right: 64px;
    }

    @media (min-width: 1200px) {
        margin-right: 128px;
    }

    @media (min-width: 1800px) {
        margin-right: 328px;
    }
}