.scroll-offset {
    padding-top: 150px;
}

.aboutme-section {
    margin-top: 20px;

    >div {
        @media (min-width: 980px) {
            display: flex;
            justify-content: space-around;
        }
    }



    h2 {
        font-family: 'Syne';
        font-weight: 800;
        font-size: 45px;
        text-align: center;
        letter-spacing: 0.01em;
        line-height: 100%;
        margin-bottom: 32px;

        @media (min-width: 680px) {
            font-size: 64px;
        }

        @media (min-width: 980px) {
            font-size: 78px;
            text-align: start;
            margin-left: 128px;
        }
    }

    p {
        margin-left: 32px;
        margin-right: 32px;

        @media (min-width: 680px) {
            margin-left: 64px;
        }

        @media (min-width: 1200px) {
            margin-left: 128px;
        }

    }



    img {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: 50% 20%;

        @media (min-width: 400px) {
            width: 336px;
            height: 336px;
        }

        @media (min-width: 1200px) {
            width: 533px;
            height: 533px;
        }
    }
}

.img-container {
    border-radius: 50%;
    position: relative;
    z-index: 2;
    margin-top: 128px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 980px) {
        margin-top: 0;
        margin-right: 64px;
    }

    @media (min-width: 1200px) {
        margin-right: 128px;
    }
}

.flex-center {
    display: none;

    @media (min-width: 980px) {
        display: flex;
        justify-content: center;
    }

}

button {
    background-color: #FFFCF3;
    color: #000000;
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    border: 4px solid black;
    padding: 20px 40px;
    gap: 10px;
    cursor: pointer;
    margin-top: 24px;

    &:hover {
        animation: padding 0.2s forwards;
    }
}

@keyframes padding {
    100% {
        padding: 20px 60px;
    }
}