<div class="aboutme-section">
    <h2>About me</h2>
    <p>I am a Front-end developer based in Munich, Germany. I enjoy helping designers and companies bring their ideas
        into real life. I am looking forward to continuing my developer career with a job in a junior web developer
        position.<br><br> If you think I’d be a good match for your projects, contact me!</p>
    <div><img src="/assets/img/cd5.jpg"></div>
</div>

<div class="arrow-box" (mouseover)="hovered()">
    <div class="diagonal" [ngClass]="{'movedDiag' : movedDiag}"></div>
    <div [ngClass]="{'hide-diag' : hideDiag}"></div>
    <div class="arrow-head" [ngClass]="{'movedHead' : movedHead}"></div>

</div>