.aboutme-section {
    margin-top: 100px;

    h2 {
        font-family: 'Syne';
        font-weight: 800;
        font-size: 45px;
        text-align: center;
        letter-spacing: 0.01em;
        line-height: 100%;
    }

    p {
        margin-left: 32px;
        margin-right: 32px;
    }

    div {
        position: relative;
        z-index: 2;
        margin-top: 128px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 336px;
        height: 336px;
        object-fit: cover;
        object-position: 50% 20%
    }
}

.arrow-box {
    margin-left: 32px;
    margin-right: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 300px;
    background-color: yellow;


}

svg {
    position: absolute;
}

.diagonal {
    position: absolute;
    background-color: green;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 140px;
    transform: rotate(-45deg) translateY(-1px);
    transform-origin: bottom right;

}

.arrow-head {
    position: absolute;
    top: 50px;
    right: 50px;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    width: 50px;
    height: 50px;
}

@keyframes moving-arrow {
    100% {
        transform: translate(-100px, 100px);
    }
}

@keyframes moving-arrow2 {
    100% {
        width: 280px;
    }
  //  100% {
 //       transform: translate(-100px, 100px) rotate(-45deg) translateY(-1px);
  //  }

}

.movedDiag {
    animation: moving-arrow2 2s forwards;
}

.movedHead {
    animation: moving-arrow 2s forwards;
}

.hide-diag {
    transform: rotate(-45deg) translateY(40px);
    width: 120px;
    height: 20px;
    position: absolute;
    background-color: #FFFCF3;
}