.aboutme-section {
    margin-top: 20px;

    >div {
        @media (min-width: 980px) {
            display: flex;
            justify-content: space-around;
        }
    }

    

    h2 {
        font-family: 'Syne';
        font-weight: 800;
        font-size: 45px;
        text-align: center;
        letter-spacing: 0.01em;
        line-height: 100%;
        margin-bottom: 32px;

        @media (min-width: 680px) {
            font-size: 64px;
        }

        @media (min-width: 980px) {
            font-size: 78px;
            text-align: start;
            margin-left: 128px;
        }
    }

    p {
        margin-left: 32px;
        margin-right: 32px;

        @media (min-width: 680px) {
            margin-left: 64px;
        }

        @media (min-width: 1200px) {
            margin-left: 128px;
        }

    }



    img {
        width: 336px;
        height: 336px;
        object-fit: cover;
        object-position: 50% 20%;

        @media (min-width: 1200px) {
            width: 533px;
            height: 533px;
        }
    }
}

.img-container {
    position: relative;
    z-index: 2;
    margin-top: 128px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 980px) {
        margin-top: 0;
        margin-right: 64px;
    }

    @media (min-width: 1200px) {
        margin-right: 128px;
    }
}
