.contact-introduction {
    background-color: black;
    padding-left: 32px;
    padding-right: 32px;

    h3 {
        margin: -23px 0 16px 0;
        font-family: 'Syne';
        font-weight: 800;
        font-size: 45px;
        color: #FFFCF3;
        animation: color-change 3s infinite;

        @media (min-width:680px) {
            margin-left: 64px;
        }

        @media (min-width:980px) {
            font-size: 78px;
        }

        @media (min-width:1200px) {
            margin-left: 128px;
        }
        @media (min-width:1800px) {
            margin-left: 328px;
        }
    }

    h4 {
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        color: #FF9900;
        margin-bottom: 16px;
    }

    p {
        margin-left: 32px;
        margin-right: 32px;
        padding-bottom: 32px;
        font-size: 23px;
        line-height: 120%;
        color: #FFFCF3;
        text-align: center;
    }

    @keyframes color-change {
        50% {
            color: #FF9900;
        }

        100% {
            color: #FFFCF3;
        }
    }
}

.cap {
    @media (min-width:980px) {
        text-transform: capitalize;
    }
}