.impressum {
    margin-top: 200px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 100px;

    @media (min-width: 680px) {
        margin-left: 64px;
        margin-right: 64px;
    }
    @media (min-width: 1200px) {
        margin-left: 128px;
        margin-right: 128px;
    }
}

h1 {
    margin-bottom: 12px;
}
p {
    margin-bottom: 8px;
}