<div class='impressum'>
    <h1>Impressum</h1>
    <p>Angaben gemäß § 5 TMG</p>
    <p>WILHELM TEICKE <br>
        Luitpoldstraße 20<br>
        97421 Schweinfurt <br>
    </p>
    <p> <strong>Vertreten durch: </strong><br>
        WILHELM TEICKE<br>
    </p>
    <p><strong>Kontakt:</strong> <br>
        Telefon: 0151-43100626<br>
        E-Mail: <a href='mailto:wilhelm.teicke@googlemail.com'>wilhelm.teicke@googlemail.com</a><br></p><br>
    Website Impressum von <a href="https://www.impressum-generator.de">impressum-generator.de</a>
</div>