.profession-area {
    scroll-margin-top: 140px;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


    h1 {
        font-family: 'Syne';
        letter-spacing: -0.025em;
        line-height: 120%;
        font-weight: 800;
        font-size: 45px;

        @media (min-width: 680px) {
            font-size: 64px;
            line-height: 100%;
            letter-spacing: -0.025em;
        }

        @media (min-width: 980px) {
            font-size: 100px;
            line-height: 100%;
            letter-spacing: -0.025em;
        }

        @media (min-width: 1200px) {
            font-size: 128px;
            line-height: 100%;
            letter-spacing: -0.025em;
        }
    }

    div {
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    span {
        width: 180px;
        border: 3px solid #000000;

        @media (min-width: 680px) {
            width: 264px;
        }

        @media (min-width: 980px) {
            width: 442px;
        }

        @media (min-width: 1200px) {
            width: 628px;
        }
    }

    p {
        margin-left: 12px;
        color: #FF9900;
        letter-spacing: -0.025em;
        font-weight: 700;
        font-size: 23px;
        line-height: 100%;

        @media (min-width: 680px) {
            font-size: 32px;
            line-height: 100%;
        }

        @media (min-width: 980px) {
            font-size: 48px;
            line-height: 100%;
        }
    }
}

.send-btn {
    margin-top: 44px;
    background-color: #FFFCF3;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;

    @media (min-width: 1200px) {
        display: none;
    }

    a {
        font-size: 23px;
        padding: 20px 40px;
        border: 4px solid #000000;

        &:focus {
            animation: width 0.5s forwards
        }

    }
}

@keyframes width {
    0% {
        padding: 20px 40px;
    }

    100% {
        padding: 20px 80px;
    }
}


.moving-arrow {
    margin-right: 32px;
    display: flex;
    justify-content: flex-end;
    height: 50px;
    object-fit: cover;

    @media (min-width: 680px) {
        margin-right: 64px;
    }

    @media (min-width: 1200px) {
        margin-right: 128px;
    }

    svg {
        animation: jumpInfinite 1.5s infinite;
        height: 100%;
    }
}


@keyframes jumpInfinite {
    0% {
        transform: translateY(-70px);
    }

    100% {
        transform: translateY(+320px);
    }
}



.bottom {
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 23px;

    @media (min-width: 680px) {
        margin-left: 64px;
        margin-right: 64px;
    }

    @media (min-width: 1200px) {
        margin-left: 128px;
        margin-right: 128px;
    }

    p {
        margin: 0;
    }
}

.rotate {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
}

.position-rel {
    padding-left: 16px;
    position: relative;
    z-index: 1;
    background-color: #FFFCF3;
}

.hide-element {
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 1;
    background-color: #FFFCF3;
}