<div class="profession-area">
    <h1>Frontend Developer</h1>
    <div>
        <span></span>
        <p>Wilhelm Teicke</p>
    </div>
</div>

<div class="send-btn">
    <a href="#">Send a message</a>
</div>

<div class="moving-arrow">
    <img src="/assets/img/arrow.png">
</div>

<div>
    <div class="bottom">
        <div class="rotate">
            <a>wilhelm.teicke@googlemail.com</a>
        </div>
        <div class="position-rel">
            <p>Scroll<br>Down</p>
        </div>
    </div>
    <div class="hide-element"></div>
</div>