<div id="hero" class="profession-area">
    <h1>Frontend<br> Developer</h1>
    <div>
        <span></span>
        <p>Wilhelm Teicke</p>
    </div>
</div>

<div class="send-btn">
    <a href="#contact">Send a message</a>
</div>

<div class="moving-arrow">
    <svg width="54" height="95" viewBox="0 0 54 95" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 67.1055L27 92.1055L52 67.1055" stroke="black" stroke-width="4" />
        <path d="M27 0V92.1053" stroke="black" stroke-width="4" />
    </svg>

</div>

<div>
    <div class="bottom">
        <div class="rotate">
            <a href="#contact">wilhelm.teicke@googlemail.com</a>
        </div>
        <div class="position-rel">
            <p>Scroll<br>Down</p>
        </div>
    </div>
    <div class="hide-element"></div>
</div>